<div id="main">
	<div class="contentContainer">
		<div class="clientContainer">
			<div class="Column-o">
				<div class="nameLabel"></div>
			</div>
			<div class="Column-o">
				<div class="productForm">
					<table class="fontSize">
						<tr>
							<th>Klant id</th>
							<th>Klant</th>
							<th>Bestelnummer</th>
							<th>Status</th>
						</tr>
						<tr *ngFor="let order of orders">
							<td>{{order.customer.id}}</td>
							<td>{{order.customer.name}}</td>
							<td>{{order.id}}</td>
							<td>
								<select class="customerSelect largeInput" #q (change)="statusChange(order.id, q.value)">
										<option *ngFor="let status of statuses" value="{{status.id}}" [selected]="status.id == order.status.id">{{status.name}}</option>
								</select>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>