<button class='btn btn-generate' (click)="verdeelOrders()">Verdelen</button>
<div id="orderlistmain" *ngFor="let truck of trucklist">
	<div class="platenum">
		<h2> Kentekennummer
			<input class="marginAdres largeinput" type="text" name="Stad" placeholder="kentekennummer" value="{{truck.licensePlate}}"
			/>
		</h2>
	</div>
	<div class="orderlist-body">
		<div class="table-data">
			<table class="data trucklist">
				<!-- <thread> -->
				<tr>
					<th>Klantennummers</th>
					<th>Klantnaam</th>
					<th>Ordernummers</th>
				</tr>
				<!-- </thread> -->
				<tr *ngFor="let orderList of truck.orderList">
					<td>{{orderList?.order.customer.id}}</td>
					<td><a href="deliverylist/{{orderList?.order.id}}">{{orderList?.order.customer.name}}</a></td>
					<td>{{orderList?.order.id}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
