<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>TestCtrk</servlet-name>
  	<display-name>TestCtrk</display-name>
  	<description></description>
  	<servlet-class>TestCtrk</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestCtrl</servlet-name>
  	<display-name>TestCtrl</display-name>
  	<description></description>
  	<servlet-class>TestCtrl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderController</servlet-name>
  	<display-name>OrderController</display-name>
  	<description></description>
  	<servlet-class>controllers.OrderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SampleCtrl</servlet-name>
  	<display-name>SampleCtrl</display-name>
  	<description></description>
  	<servlet-class>controllers.SampleCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestCtrk</servlet-name>
  	<url-pattern>/TestCtrk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestCtrl</servlet-name>
  	<url-pattern>/TestCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderController</servlet-name>
  	<url-pattern>/OrderController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SampleCtrl</servlet-name>
  	<url-pattern>/SampleCtrl</url-pattern>
  </servlet-mapping>
</web-app>
